<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <div class="logged_out_container">

      <form class="sign_in_form" method="GET" action="/login">
        <button class="btn btn-light" type="submit">Log In</button>
      </form>
      <form class="register_form" method="GET" action="/registration">
        <button class="btn btn-secondary" type="submit">Register</button>
      </form>

    </div>
    
    <form class="logout_form" method="POST" action="/logout">
    <label>
      <% if (currentUser) { %>
        <%=currentUser['email']%>
      <% } %>
    </label>
    <button class="logout_btn btn btn-light">Log Out</button>
    </form>
  </nav>

  <!-- Nav CTA Button Styles -->
  <style>
    /* Hide logout form by default for users who aren't logged in */
    .logout_form {
      display: none;
    }

    .register_form {
      margin-left: 1em;
    }

  .logged_out_container{
    display: flex;
  }

    .btn-secondary {
      background-color: black;
      border: 0px;
    }

    .hidden {
      display: none !important;
    }

    .in-view {
      display: block;
    }
  </style>
  
<!-- Toggle login/logout forms-->
<% if (currentUser) { %> 
  <script> 
    document.getElementsByClassName('logged_out_container')[0].classList.add('hidden'); 
    document.getElementsByClassName('logout_form')[0].classList.add('in-view');
 </script>
<% } %>


</header>