@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --mainColor: #287257; 
  --deepGreen: #184a38;
  --creamColor: #f5f3e9;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}


body a {
  color: var(--mainColor);
}

body a:hover {
  color: var(--deepGreen);
  text-decoration: underline;
}

h5 {
  font-weight: 400;
}


/* Nav-right call to actions */ 

.logged_in_container {
  display: none;
}

.register_form {
  margin-left: 1em;
}

.logged_out_container{
display: flex;
}

.btn-secondary {
  background-color: black;
  border: 0px;
}

.hidden {
  display: none !important;
}

.in-view {
  display: block;
}

/* Navbar */

nav {
  box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
}


.navbar-brand {
  font-family: 'Pacifico';
  font-size: 30px;
}

.nav-link, nav .log-in-btn {
  color: #474039 !important;
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover, .log-in-btn:hover {
  color: black !important;
}

/* Nav link underline on hover  */

nav .btn-secondary {
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 20%);
  font-size: 18px;
}

body {
  background-color: var(--creamColor);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: 300ms ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}


/* Log In / Log Out Body */

.user-register, .user-sign-in {
  background-image: url(bg-user-sign-in-01.svg) !important;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: right;
  overflow: hidden;
}




/* Log In / Log Out Form Styles */
:root, body, main {
  height: 100%;
}

.form-logo {
  font-family: 'Pacifico';
  margin-bottom: 60px;
}

.content input::placeholder {
  font-size: 14px;
}


.user-sign-in {
  /* background: linear-gradient(to bottom, var(--mainColor), var(--creamColor)); */
  overflow: hidden;
}

.content {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 1.5vw 3vw rgb(0 0 0 / 20%);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  max-width: fit-content;
  margin: 100px;
}


.content form label {
  margin-bottom: 0;
}

.content form input, .content form .btn {
  width: 300px;
}


.btn-primary, nav .btn-secondary{
  outline: none;
  border: 0px;
  background-color: var(--mainColor);
  font-weight: 600;
}

.btn-primary:hover, nav .btn-secondary:hover {
  background-color: var(--deepGreen);
}


nav .btn-secondary {
  box-shadow: (0 1.5vw 3vw rgb(0 0 0 / 20%)) !important;
}


.centered { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-validation-error {
  color: red;
  font-size: 12px;
  text-align: left;
  width: 100%;
}

/* URL Update Page */

.urls_show .card {
  background-color: var(--creamColor);
}

.urls_show .card-footer form {
  font-family: 'Helvetica'
}

.urls_show .card-footer form input {
 margin: 0 20px;
 padding: 0 0 0 10px;
 border: 0px;
 border-radius: 5px;
 box-shadow: 0 0px 20px 0 rgb(0 0 0 / 20%);
 line-height: 2.4;
}

.urls_show .card-footer form button {
  border: 0px !important;
  outline: none !important;
  box-shadow: 0 0px 20px 0 rgb(0 0 2 / 20%);
}